
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    Test - Index
    <a href="TestRefererCheck">GO TO TestRefererCheck</a>
</body>
</html>
