
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestRefererCheck</title>
</head>
<body>
    Test - TestRefererCheck
</body>
</html>
